.btn {
  outline: none;
  cursor: pointer;
  font-family: var(--font-body-name);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  height: 51px;
  padding: 0 30px;
  border-radius: 2px;
  border: none;

  @include breakpoint(medium) {
    min-width: 209px;
  }

  &.btn-primary {
    background: #2e54eb;
    color: #fff;
  }

  &.btn-outline {
    border: 1px solid #fff;
    background: transparent;
    color: #fff;
  }

  &.btn-light {
    background: #fff;
    color: #222222;
    border-radius: 2px;
    border: 2px solid #222;
  }

  &.btn-blue {
    background: #fff;
    color: #2e54eb;
    border-radius: 2px;
  }

  &.btn-dark {
    border: 2px solid #000;
    background: #222;
    color: var(--text-white);
  }
}
