.footer {
  padding: 71px 0 60px;
}

.footer__inner {
  display: flex;
  flex-wrap: wrap;

  @include breakpoint(medium) {
    column-gap: 30px;
  }

  @include breakpoint(large) {
    display: grid;
    grid-template-columns: 33% 24% 1fr;
    padding-bottom: 43px;
    column-gap: 0;
  }

}

.footer__contacts {
  width: 100%;

  a {
    text-decoration: none;
    font: var(--font-link);
    color: var(--text-white);
    margin-bottom: 25px;
    display: flex;
    gap: 8px;

    @include breakpoint(large) {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0.5px;
    }
  }
}

.footer-logo {
  margin-bottom: 62px;
  width: 191px;
  height: auto;

  @include breakpoint(large) {
    width: 252px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer__nav-item {
  margin-bottom: 18px;

  a {
    color: var(--text-white);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;

    @include breakpoint(large) {
      font-size: 24px;
    }
  }
}

.footer__form__section {
  background: linear-gradient(90deg, rgba(95, 152, 240, 0.70) 4.69%, rgba(46, 84, 235, 0.70) 83.33%), #2E54EB;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 32px 17px 32px;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--text-white);
  max-width: 600px;

  @include breakpoint(large) {
    font-size: 18px;
    max-width: 100%;
  }


  .input-wrap {
    height: 50px;
    display: flex;
    justify-content: space-between;

    @include breakpoint(large) {
      height: 64px;
    }
  }

  .form__content-btn {
    width: 60px;
    background: #fff;

    .icon {
      font-size: 20px;
      color: #2E54EB;
    }
  }

  .input {
    padding: 0 24px;
    height: 100%;
  }
}

.footer__form__title {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--text-white);
  font-family: var(--font-heading-name);
}

.footer-contact-item {
  position: relative;

  &:before {
    @extend .icon;
    font-size: 18px;
    color: #2F54EB;
  }

  &.footer__location {
    &:before {
      @extend .icon-location;
    }
  }

  &.footer__email {
    &:before {
      @extend .icon-email-outline;
    }
  }

  &.footer__phone {
    &:before {
      @extend .icon-phone-outline;
    }
  }
}

.footer__bottom-container {
  border-top: 1px solid #8F8F95;
  padding-top: 56px;
  color: var(--text-white);
  font: var(--font-link);

  @include breakpoint(large) {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.5px;

  }
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  @include breakpoint(large) {
    flex-direction: row;
  }

  span {
    margin-right: 16px;
    margin-left: 16px;
  }
}


.btn-arrow {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: capitalize;
  color: var(--text-white);
  position: relative;
  background: none;

  &:before {
    font-size: 18px;
    color: var(--text-white);
    @extend .icon;
  }
}

.footer__btn-arrow {
  display: flex;
  gap: 16px;
  text-decoration: none;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: capitalize;
  color: var(--text-white);
  position: relative;
  background: none;


  .icon {
    font-size: 24px;
    color: var(--text-white);
  }
}

.social-media__list {
  display: flex;
  gap: 26px;
  padding-top: 43px;
  margin-bottom: 30px;
  justify-content: center;

  @include breakpoint(large) {
    margin-bottom: 0;
    justify-content: flex-start;
  }
}


.social-media__item {
  position: relative;
  @extend .icon;
  font-size: 18px;
  color: var(--text-white);
  cursor: pointer;

  @include breakpoint(large) {
    font-size: 26px;
  }

  &.instagram {
    @extend .icon-instagram;
  }

  &.facebook {
    @extend .icon-facebook;
  }

  &.linkedin {
    @extend .icon-linkedin;
  }

  &.pinterest {
    @extend .icon-pinterest;
  }

  &.tiktok {
    @extend .icon-tiktok;
  }
}

.footer_nav-bar {
  margin: 20px 0 20px;

  @include breakpoint(large) {
    margin: 0;
  }


  ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 45px;


    @include breakpoint(large) {
      display: block;
    }
  }

}

.footer__bottom-container__link {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;

  @include breakpoint(large) {
    width: auto;
    display: inline-block;
    margin-bottom: 0;
  }
}