.footer {
  padding: 71px 0 60px;
}

.footer__inner {
  display: grid;
  grid-template-columns: 33% 24% 1fr;
  padding-bottom: 43px;
}

.footer__contacts {
  width: 100%;

  a {
    text-decoration: none;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.5px;
    color: var(--text-white);
    margin-bottom: 25px;
    display: flex;
    gap: 8px;
  }
}

.footer-logo {
  margin-bottom: 62px;
  width: 252px;
  height: 44px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.footer__nav-item {
  margin-bottom: 18px;

  a {
    color: var(--text-white);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-decoration: none;
  }
}

.footer__form__section {
  background: linear-gradient(90deg, rgba(95, 152, 240, 0.70) 4.69%, rgba(46, 84, 235, 0.70) 83.33%), #2E54EB;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 32px 17px 32px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: var(--text-white);

  .input {
    padding: 0 24px;
  }
}

.footer__form__title {
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  text-transform: capitalize;
  color: var(--text-white);
  font-family: var(--font-heading-name);
}

.footer-contact-item {
  position: relative;

  &:before {
    @extend .icon;
    font-size: 18px;
    color: #2F54EB;
  }

  &.footer__location {
    &:before {
      @extend .icon-location;
    }
  }

  &.footer__email {
    &:before {
      @extend .icon-email-outline;
    }
  }

  &.footer__phone {
    &:before {
      @extend .icon-phone-outline;
    }
  }
}

.footer__bottom-container {
  border-top: 1px solid #8F8F95;
  padding-top: 56px;
  color: var(--text-white);
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.5px;
}

.footer__bottom-inner {
  display: flex;
  justify-content: space-between;

  span {
    margin-right: 16px;
    margin-left: 16px;
  }
}


.btn-arrow {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: capitalize;
  color: var(--text-white);
  position: relative;
  background: none;

  &:before {
    font-size: 18px;
    color: var(--text-white);
    @extend .icon;
  }
}

.footer__btn-arrow {
  display: flex;
  gap: 16px;
  text-decoration: none;
  align-items: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: capitalize;
  color: var(--text-white);
  position: relative;
  background: none;

  .icon {
    font-size: 24px;
    color: var(--text-white);
  }
}

.social-media__list {
  display: flex;
  gap: 26px;
  padding-top: 43px;
}


.social-media__item {
  position: relative;
  @extend .icon;
  font-size: 26px;
  color: var(--text-white);

  &.instagram {
    @extend .icon-instagram;
  }

  &.facebook {
    @extend .icon-facebook;
  }

  &.linkedin {
    @extend .icon-linkedin;
  }

  &.pinterest {
    @extend .icon-pinterest;
  }

  &.tiktok {
    @extend .icon-tiktok;
  }
}