@mixin breakpoint($name) {
  @if $name == medium {
    @media (min-width: 768px) {
      @content;
    }

  } @else if $name == large {
    @media (min-width: 1400px) {
      @content;
    }
  } @else if $name == x-large {
    @media (min-width: 1680px) {
      @content;
    }
  }
}