.header {
  padding: 30px 0;
  background: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 2;

  @include breakpoint(medium) {
    //height: 100px;
    padding: 50px 0;
  }

  @include breakpoint(large) {
    //height: 129px;
    //padding: 0 40px;
  }
}

.header {
  .layout {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: auto 1fr;
    grid-row-gap: 10px;
    align-items: center;

    @include breakpoint(large) {
      grid-template-columns: 250px 1fr;
      grid-column-gap: 1fr;
    }
  }
}

.header__nav-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.64px;
  text-transform: uppercase;
  margin-bottom: 20px;

  @include breakpoint(large) {
    margin-bottom: 0;
  }

  a {
    color: var(--text-white);
    text-decoration: none;
  }
}

.header__btn-wrap {
  gap: 10px;
  display: flex;
  flex-direction: column;

  @include breakpoint(large) {
    flex-direction: row;
    gap: 16px;

  }
}

.header-logo {
  justify-content: center;
  display: flex;
  width: 100%;
  justify-self: center;

  img {
    width: 100px;
    height: 100%;
    object-fit: contain;

    @include breakpoint(large) {
      width: 100%;
      height: 100%;
    }
  }

  @include breakpoint(medium) {
    //width: 150px;
  }

  @include breakpoint(large) {
    grid-column: 1;
    justify-content: flex-start;
  }
}

.header-navigation {
  padding: 30px 0 33px;
  border-radius: 10px;
  width: 100%;
  grid-column: span 2;
  display: none;

  @include breakpoint(large) {
    display: flex;
    grid-column: 2;
    align-items: center;
    padding: 0;
    justify-content: space-between;
  }

  .btn-wrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.burger-menu {
  position: relative;
  background: none;
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-self: center;


  @include breakpoint(large) {
    display: none;
  }

  span {
    width: 30px;
    height: 4px;
    background: #fff;
    display: block;
    border-radius: 3px;
  }

  &:before {
    content: "";
    width: 30px;
    height: 4px;
    background: #fff;
    display: block;
    border-radius: 3px;
    transition: transform 150ms ease-in-out;
  }

  &:after {
    content: "";
    width: 30px;
    height: 4px;
    background: #fff;
    display: block;
    border-radius: 3px;
    transition: transform 150ms ease-in-out;
  }
}

.header_nav-bar {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;


  @include breakpoint(large) {
    margin-bottom: 0;
  }
}


.header[data-active] {
  .header-navigation {
    transform: translateY(0);
    display: block;
  }

  .burger-menu {
    &:before {
      transform: rotate(45deg) translate(0, 7px);
    }

    &:after {
      transform: rotate(-45deg) translate(0, -6px);
    }

    span {
      display: none;
    }
  }
}

.header__nav-links {
  
  @include breakpoint(large) {
    display: flex;
    gap: 42px;
  }
}