.hoisting-section {
  padding: var(--section-padding) 0 var(--section-padding);

  @include breakpoint(x-large) {
    padding: 120px 0 120px;
  }

}

.hoisting-section__pic {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}

.hoisting-section__gallery-item {
  width: 100%;
  height: 400px;
  position: relative;

  @include breakpoint(x-large) {
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  .gallery-item__title {
    text-transform: capitalize;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    font: var(--font-heading-secondary);


    @include breakpoint(x-large) {
      max-width: 435px;
      font-size: 62px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
  }
}

.hoisting-section__gallery-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;

  @include breakpoint(x-large) {
    flex-wrap: nowrap;
    height: 800px;
  }
}

.hoisting-section__text-wrap {
  padding: 32px;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-direction: column;
}