.hoisting-section {
  padding: var(--section-padding) 0 var(--section-padding);

  @include breakpoint(large) {
    padding: 120px 0 120px;
  }
}

.hoisting-section__pic {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
  }
}

.hoisting-section__text-wrap {
  transform: translateY(85px);
  transition: transform 400ms ease-in-out;
  z-index: 1;
  position: relative;
} 

.hoisting-section__gallery-item {
  width: 100%;
  height: 400px;
  position: relative;
  cursor: pointer;
  overflow: hidden;

  @include breakpoint(large) {
    height: 100%;
  }

  &:hover {
    @include breakpoint(large) {
      width: 150%;
      transition: width 400ms;
    }
  }

  a {
    text-decoration: none;
  }

  &:before {
    content: '';
    background: #2E54EB;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 400ms;
    z-index: 1;
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    .hoisting-section__text-wrap {
      @include breakpoint(large) {
        transform: translateY(0);
      }

    }
  }

  .gallery-item__title {
    text-transform: capitalize;
    color: var(--text-white);
    position: relative;
    z-index: 1;
    font: var(--font-heading-secondary);
    margin-bottom: 66px;


    @include breakpoint(large) {
      max-width: 435px;
      font-size: 62px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
    }
  }
}

.hoisting-section__gallery-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  overflow: hidden;

  @include breakpoint(large) {
    flex-wrap: nowrap;
    height: 800px;
  }

}

.hoisting-section__text-wrap {
  padding: 32px;
  display: flex;
  justify-content: flex-end;
  height: 100%;
  flex-direction: column;
}


.hoisting-section__btn-wrap {
  .btn {
    padding: 0 68px;
  }
}