.how-it-works-section {
  padding: 120px 0;
}

.how-it-works-section__steps-list {
  display: flex;
  gap: 40px;
  counter-reset: section;
}

.how-it-works-section__heading {
  color: var(--text-black);
  font: var(--font-heading-secondary);
  text-align: center;
  margin-bottom: 82px;
  text-transform: capitalize;
}

.how-it-works-section__step-item {
  color: var(--text-white);
  background: #2E54EB;
  position: relative;
  padding: 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.how-it-works-section__inner {
  position: relative;

  &:before {
    content: counter(section);
    counter-increment: section;
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 100%;
    color: var(--text-blue);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0.15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
  }
}

.step-item__title {
  font-family: var(--font-heading-name);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: -0.5px;
  margin-bottom: 48px;
}

.step-item__body {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
}

.step-item__link {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  color: var(--text-white);
  text-decoration: none;
}