.initial-section {
  position: relative;
  padding-bottom: 140px;
}

.initial-section__pic-container {
  background: rgba(12, 27, 126, 0.62) url("./assets/main-pic.png") no-repeat top center;
  width: 100%;
  height: 982px;
  background-size: cover;
  font: var(--font-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.initial-section__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 32px;
  left: 16px;
  right: 16px;

  > div {
    display: flex;
    width: 250px;

    &:nth-child(2) {
      justify-content: center;

    }

    &:last-child {
      justify-content: flex-end;
    }
  }
}

.initial-section__pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

.initial-section__pagination-item {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgba(255, 255, 255, .5);

  &.active {
    background: #FFF;
  }
}

.btn-play {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  position: relative;
  background: none;
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--text-white);

  .icon {
    border: 1px solid #FFF;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    z-index: 1;
    position: relative;
  }

  &:after {
    content: '';
    background: url("./assets/initial/btn-bg.jpg") no-repeat center center;
    background-size: cover;
    width: 72px;
    height: 72px;
    position: absolute;
    left: 4px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
  }


  //&:before {
  //  font-size: 18px;
  //  color: var(--text-white);
  //  @extend .icon;
  //  @extend .icon-arrow-up;
  //}
}

.initial__btn-arrow {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  position: relative;
  color: var(--text-white);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  margin-top: 33px;

  .icon {
    font-size: 24px;
  }
}

.initial-section__heading {
  font: var(--font-heading-primary);
  color: var(--text-white);
  max-width: 1305px;
  margin-bottom: 40px;
  text-align: center;
}

.initial-section__btn-wrap {
  display: flex;
  gap: 24px;
}

.initial-section__gallery-container {
  padding-top: 153px;
}

.initial-section__gallery-container__heading {
  margin-bottom: 43px;
  font-size: 27px;
  color: var(--text-white);
  font: var(--font-heading-secondary);
  text-transform: capitalize;
}

.initial-section__company-container__heading {
  color: var(--text-white);
  font: var(--font-heading-secondary);
  text-transform: capitalize;
  border-bottom: 1px solid #808080;
  margin-bottom: 60px;
}

.initial-section__gallery-container__content {
  color: var(--text-white);
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.26px;
  margin-bottom: 95px;
}

.initial-section__gallery-list {
  display: flex;
  height: 704px;
  grid-column-gap: 60px;
}

.initial-section__gallery-item {
  width: 100%;
  height: 100% ;
  display: block;

  .gallery-item__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .gallery-item__text-wrap {
    z-index: 1;
    position: relative;
    background: rgba(16, 35, 158, 0.02);
    backdrop-filter: blur(10px);
    padding: 35px 24px 17px;
    min-height: 315px;
  }
  
  a {
    height: 100%;
    text-decoration: none;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 25px 25px 25px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
    letter-spacing: 0.64px;
     color: var(--text-white);
    text-decoration: none;
    margin-bottom: 13px;
  }

  .gallery-item__content {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 30.8px */
    letter-spacing: 0.22px;
     color: var(--text-white);
    text-decoration: none;
  }
}

.initial-section__company-container {
  padding-top: 138px;
}

.initial-section__company-container__heading {
  padding-bottom: 32px;
  font: var(--font-heading-secondary)
}

.initial-section__company-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 164px;
  justify-content: space-between;
  row-gap: 39px;
}

.initial-section__location {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.992px;
  color: var(--text-white);
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 0 28px;

  &:before {
    @extend .icon;
    @extend .icon-location;
    font-size: 20px;
  }
}


.initial-section__company-item {
  width: 110px;
}
