.initial-section {
  position: relative;
  padding-bottom: 140px;


  .layout {

  }
}

.initial-section__pic-container {
  background: rgba(12, 27, 126, 0.62) url("./assets/main-pic.png") no-repeat top center;
  width: 100%;
  height: 982px;
  background-size: cover;
  font: var(--font-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.initial-section__heading {
  font: var(--font-heading-primary);
  color: var(--text-white);
  max-width: 1305px;
  margin-bottom: 40px;
  text-align: center;
}

.initial-section__btn-wrap {
  .btn {

  }
}

.initial-section__gallery-container {
  padding-top: 139px;
}

.initial-section__gallery-container__heading {
  margin-bottom: 40px;
}

.initial-section__gallery-container__heading,
.initial-section__company-container__heading
{
  color: var(--text-white);
  font: var(--font-heading-secondary);
  text-transform: capitalize;
  padding-top: 116px;
  border-bottom: 1px solid #808080;
  margin-bottom: 60px;
}

.initial-section__gallery-container__content {
  color: var(--text-white);
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.26px;
  margin-bottom: 75px;
}

.initial-section__gallery-list {
  display: flex;
  height: 750px;
  grid-column-gap: 60px;
}

.initial-section__gallery-item {
  width: 100%;
  height: 100% ;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 62px;

  .gallery-item__pic {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;


  }


  .gallery-item__text-wrap {
    z-index: 1;
    position: relative;
    max-width: 464px;
    margin: auto;
    background: rgba(16, 35, 158, 0.02);
    backdrop-filter: blur(10px);
    padding: 34px 24px;
  }
  
  a {
    text-decoration: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item__title {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 42px; /* 131.25% */
    letter-spacing: 0.64px;
     color: var(--text-white);
    text-decoration: none;
  }

  .gallery-item__content {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%; /* 30.8px */
    letter-spacing: 0.22px;
     color: var(--text-white);
    text-decoration: none;
  }
}

.initial-section__company-container {

}

.initial-section__company-container__heading {
  padding-bottom: 32px;
  font: var(--font-heading-secondary)
}

.initial-section__company-list {
  display: flex;
  flex-wrap: wrap;
  gap: 164px;
  justify-content: space-between;
}

.initial-section__location {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.992px;
  color: var(--text-white);
  display: flex;
  align-items: center;
  gap: 4px;

  &:before {
    @extend .icon;
    @extend .icon-location;
    font-size: 20px;
  }
}


.initial-section__company-item {
  width: 110px;
}
