.initial-section {
  position: relative;
  padding-bottom: var(--section-padding);

  @include breakpoint(x-large) {
    padding-bottom: 140px;
  }

}

.initial-section__pic-container {
  background: rgba(12, 27, 126, 0.62) url("./assets/main-pic.png") no-repeat top center;
  width: 100%;
  //height: 800px;
  background-size: cover;
  font: var(--font-heading);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  height: 982px;


  @include breakpoint(x-large) {
    height: 982px;
  }
}

.initial-section__bottom-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  flex-direction: column;
  left: 16px;
  right: 16px;
  bottom: 0;

  @include breakpoint(x-large) {
    bottom: 32px;
    flex-direction: row;
  }

  > div {
    display: flex;
    width: 250px;

    &:first-child {
      order: 2;
      @include breakpoint(x-large) {
        order: 1;
      }
    }

    &:nth-child(2) {
      justify-content: center;
      order: 3;
      
      @include breakpoint(x-large) {
        order: 2;
      }
    }

    &:last-child {
      justify-content: center;
      margin-bottom: 30px;

      order: 1;
      @include breakpoint(x-large) {
        order: 3;
        justify-content: flex-end;
        margin-bottom: 0;

      }
    }
  }
}

.initial-section__pagination {
  display: flex;
  gap: 8px;
  align-items: center;
}

.initial-section__pagination-item {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: rgba(255, 255, 255, .5);

  &.active {
    background: #FFF;
  }
}

.btn-play {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
  text-transform: uppercase;
  position: relative;
  background: none;
  display: flex;
  align-items: center;
  gap: 24px;
  color: var(--text-white);
  cursor: pointer;
  
  .icon {
    border: 1px solid #FFF;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    font-size: 40px;
    line-height: 80px;
    text-align: center;
    z-index: 1;
    position: relative;
  }

  &:after {
    content: '';
    background: url("./assets/initial/btn-bg.jpg") no-repeat center center;
    background-size: cover;
    width: 68px;
    height: 68px;
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 100%;
    overflow: hidden;
  }
}

.initial__btn-arrow {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.54px;
  text-transform: uppercase;
  position: relative;
  color: var(--text-white);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 4px;
  background: none;
  border: none;
  margin-top: 33px;

  .icon {
    font-size: 24px;
  }
}

.initial-section__heading {
  font: var(--font-heading-primary);
  color: var(--text-white);
  max-width: 1305px;
  margin-bottom: 40px;
  text-align: center;
}

.initial-section__btn-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 30px;


  @include breakpoint(medium) {
    flex-direction: row;
    gap: 24px;
    margin-bottom: 0;
  }
}

.initial-section__gallery-container {
  padding-top: var(--section-padding);

  @include breakpoint(x-large) {
    padding-top: 153px;
  }
}

.initial-section__gallery-container__heading {
  margin-bottom: 43px;
  font-size: 27px;
  color: var(--text-white);
  font: var(--font-heading-secondary);
  text-transform: capitalize;
}

.initial-section__company-container__heading {
  color: var(--text-white);
  font: var(--font-heading-secondary);
  text-transform: capitalize;
  border-bottom: 1px solid #808080;
  margin-bottom: 60px;
}

.initial-section__gallery-container__content {
  color: var(--text-white);
  margin-bottom: var(--section-padding);
  font: var(--font-subheading);
  text-align: center;
  
  @include breakpoint(x-large) {
    text-align: left;
    font-size: 26px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.26px;
    margin-bottom: 95px;
  }
}

.initial-section__gallery-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gallery-spacing);
  height: auto;

  @include breakpoint(x-large) {
    height: 704px;
    column-gap: 60px;
    flex-wrap: nowrap;
    row-gap: 0;
  }
}

.initial-section__gallery-item {
  width: 100%;
  //height: 100% ;
  display: block;
  /*min-height: 340px;*/




  .gallery-item__pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .gallery-item__text-wrap {
    z-index: 1;
    position: relative;
    background: rgba(16, 35, 158, 0.02);
    backdrop-filter: blur(10px);
    padding: 10px;

    @include breakpoint(x-large) {
      min-height: 315px;
      padding: 35px 24px 17px;
    }
  }
  
  a {
    text-decoration: none;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    min-height: var(--gallery-item-height);
    height: 100%;


    @include breakpoint(x-large) {
      padding: 0 25px 25px 25px;
      height: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .gallery-item__title {
    color: var(--text-white);
    text-decoration: none;
    margin-bottom: 13px;
    font: var(--font-gallery-title);


    @include breakpoint(x-large) {
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0.64px;
    }
  }

  .gallery-item__content {
    color: var(--text-white);
    text-decoration: none;
    font: var(--font-gallery-content);

    @include breakpoint(x-large) {
      font-size: 22px;
      font-style: normal;
      font-weight: 300;
      line-height: 140%; /* 30.8px */
      letter-spacing: 0.22px;

    }

  }
}

.initial-section__company-container {
  padding-top: var(--section-padding);

  @include breakpoint(x-large) {
    padding-top: 138px;
  }
}

.initial-section__company-container__heading {
  padding-bottom: 32px;
  font: var(--font-heading-secondary)
}

.initial-section__company-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  justify-content: space-between;
  row-gap: 39px;


  @include breakpoint(x-large) {
    column-gap: 164px;
  }
}

.initial-section__location {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 31.992px;
  color: var(--text-white);
  display: flex;
  align-items: center;
  gap: 4px;
  margin: 0 0 15px;

  @include breakpoint(x-large) {
    margin: 0 0 28px;
  }

  &:before {
    @extend .icon;
    @extend .icon-location;
    font-size: 20px;
  }
}

.initial-section__company-item {
  width: 50px;

  @include breakpoint(x-large) {
    width: 110px;
  }
}
