

.input-wrap {
  width: 100%;
  height: 64px;

  &.input-outline {

    input {
      border: none;
      border-bottom: 1px solid #FFF;
    }
  }
}

.input {
  border: 1px solid #FFF;
  border-radius: 2px;
  background: transparent;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.48px;
  padding: 0 10px;
  width: 100%;
  outline: none;
  color: var(--text-white);
  height: 100%;

  &::-webkit-input-placeholder {
    color: #FFF;
    font-family: var(--font-body-name);
  }

  &::-moz-placeholder {
    color: #FFF;
    font-family: var(--font-body-name);
  }

  &:-ms-input-placeholder {
    color: #FFF;
    font-family: var(--font-body-name);
  }

  &:-moz-placeholder {
    color: #FFF;
    font-family: var(--font-body-name);
  }
}