
.insider-section {

  padding: var(--section-padding) 20px;

  @include breakpoint(x-large) {
    padding: 140px 0;
  }

}

.insider-section__wrap {

  @include breakpoint(x-large) {
    padding-left: 112px;
    max-width: 1200px;
  }
  }


.insider-section__heading {
  color: var(--text-white);
  font: var(--font-heading-secondary);
  text-transform: capitalize;
  margin-bottom: 33px;
  text-align: center;
  
  @include breakpoint(x-large) {
    text-align: left;
  }
}

.insider-section__content {
  color: var(--text-white);
  margin-bottom: 20px;
  font: var(--font-subheading);

  @include breakpoint(x-large) {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.26px;
    margin-bottom: 76px;
  }
}

.insider-section__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 10px;

  @include breakpoint(medium) {
    max-width: 60%;
    margin: auto;

  }

  @include breakpoint(large) {
    gap: 30px;
    flex-direction: row;
    max-width: 100%;
  }

  @include breakpoint(x-large) {
    gap: 60px;

  }

  .btn__wrap {

    @include breakpoint(medium) {
      flex-shrink: 0;
    }
  }


  .btn {
    color: var(--text-blue);
    background: #fff;
    width: 100%;
    max-width: 260px;
    width: 100%;
  }
}

.insider-section__form-wrap {


  @include breakpoint(medium) {
    padding: 0 50px;
  }

  @include breakpoint(x-large) {
    padding: 0 50px 0 192px;
    max-width: 1740px;
  }
}

