
.insider-section {
  padding: 140px 0;

  .layout {
    max-width: 1680px;
    margin: auto;
  }
}

.insider-section__wrap {
  padding-left: 112px;
  max-width: 1200px;
}

.insider-section__heading {
  color: var(--text-white);
  font: var(--font-heading-secondary);
  text-transform: capitalize;
  margin-bottom: 33px;
}

.insider-section__content{
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 0.26px;
  color: var(--text-white);
  margin-bottom: 76px;
}

.insider-section__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;

  .btn {
    color: var(--text-blue);
    background: #fff;
    width: 100%;
    max-width: 260px;
    width: 100%;
  }

}

.insider-section__form-wrap {
  padding: 0 50px 0 192px;
}

