@mixin animateCard($color1, $color2) {
  &:before {
    width: 100%;
    height: 100%;
    background: $color1;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: transform 200ms ease-in-out;
  }

  &:after {
    width: 100%;
    height: 100%;
    background: $color2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transition: transform 200ms ease-in-out;
  }
}
