.spotlight-section {
  padding: var(--section-padding) 0;


  @include breakpoint(x-large) {
    padding: 120px 0;
  }

  .gallery-item__category {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
  }

  .gallery-item__content {
    font: var(--font-gallery-title);

    @include breakpoint(x-large) {
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0.64px;
    }
  }

  .gallery-item__text-wrap {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .open-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.56px;
    text-transform: uppercase;
    color: var(--text-white);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 18px;
    align-self: flex-start;

    &:before {

      @extend .icon;
      @extend .icon-arrow-right;
      font-size: 18px;
    }
  }

  .gallery-item__pic {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.spotlight-section__heading {
  margin-bottom: var(--section-padding);
  color: var(--text-black);
  font: var(--font-heading-secondary);
  text-align: center;
  text-transform: capitalize;

  @include breakpoint(x-large) {
    margin-bottom: 82px;
  }
}

.spotlight-section__gallery-item {
  position: relative;

  &:nth-child(4) {
    grid-column: span 2;
  }


  a {
    min-height: var(--gallery-item-height);
    height: 100%;

    text-decoration: none;
    color: var(--text-white);
    width: 100%;
    padding: 0 80px 32px 32px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include breakpoint(x-large) {
      height: 100%;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.spotlight-section__gallery-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--gallery-spacing);

  @include breakpoint(x-large) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    grid-auto-rows: 551px;
  }

}