.stay-in-the-know-section__heading {
  color: var(--text-black);
  font: var(--font-heading-secondary);
  text-transform: capitalize;
}

.stay-in-the-know-section__content {
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 30.8px */
  letter-spacing: 0.22px;
}